<a href="https://colab.research.google.com/github/GoryachevDaniil/HACK_THE_CARD/blob/main/HACK_THE_CARD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# from collections import Counter
# from sklearn.model_selection import train_test_split
# %matplotlib inline                 
# устанавливает серверную часть matplotlib в серверную часть 'inline' :
# %matplotlib notebook             ## активирует серверную часть nbagg, которая обеспечивает интерактивность.
# pd.options.mode.chained_assignment = None  # default='warn'
# pd.options.display.max_rows=50

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
input_test = pd.read_csv('/content/gdrive/My Drive/HACK_THE_CARD/test.csv', sep=',')

In [ ]:
input_hist_data = pd.read_csv('/content/gdrive/My Drive/HACK_THE_CARD/hist_data.csv', sep=',')

In [ ]:
input_hist_data_copy = input_hist_data.copy() # Делаем копию данных

In [ ]:
input_hist_data_copy = input_hist_data_copy[input_hist_data_copy['price_sold'].notna()] # Убираем строки с пропущенными значениями

In [ ]:
input_hist_data_copy.info(show_counts='bool') # Проверяем правильность выполненной работы

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4529882 entries, 0 to 4529888
Data columns (total 8 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   buyer_id           4529882 non-null  int64
 1   pav_order_id       4529882 non-null  int64
 2   created            4529882 non-null  object
 3   item_id            4529882 non-null  int64
 4   count              4529882 non-null  float64
 5   price_sold         4529882 non-null  float64
 6   flag_weight_goods  4529882 non-null  bool
 7   weight             4529882 non-null  float64
dtypes: bool(1), float64(3), int64(3), object(1)
memory usage: 280.8+ MB

In [ ]:
df = input_hist_data_copy.groupby(['buyer_id', 'pav_order_id', 'item_id']).sum() # Группируем датафрейм по 'buyer_id', 'pav_order_id', 'item_id'.

In [ ]:
df['сheck_sum'] = df.groupby(['buyer_id', 'pav_order_id'])['price_sold'].sum() # Добавляем столбец с итоговой суммой каждого чека

In [ ]:
df.reset_index(inplace=True) # Возвращаем датафрейму исходный вид

In [ ]:
df_copy = df.copy() # Делаем копию данных

In [ ]:
custumers = df_copy['buyer_id'].unique() # Достаем уникальные значения
products = df_copy['item_id'].unique() # Достаем уникальные значения

In [ ]:
products_series = df_copy["item_id"] # Заменяем значения item_id на порядковый номер(уникальный) v1.0
for i in range (products.size): #
  products_series.replace(products[i], i, inplace=True) #
df_copy["item_id"] = products_series; #

In [ ]:
for i in range (custumers.size): # Заменяем значения buyer_id на порядковый номер(уникальный) v2.0
  df_copy['buyer_id'].replace(custumers[i], i, inplace=True) #

In [ ]:
df_copy.to_csv('/content/gdrive/My Drive/HACK_THE_CARD/df_copy.csv')

In [ ]:
df_copy = pd.read_csv('/content/gdrive/My Drive/HACK_THE_CARD/df_copy.csv', sep=',')

In [ ]:
custumers_num = df_copy['buyer_id'].unique() # Достаем уникальные значения
products_num = df_copy['item_id'].unique() # Достаем уникальные значения

In [ ]:
buyer_item_matrix = np.zeros((custumers_num.size, products_num.size), dtype=np.uint16) #

In [ ]:
for idx in df_copy.index:
  buyer_item_matrix[int(df_copy.iloc[idx]['buyer_id'])][int(df_copy.iloc[idx]['item_id'])] += 1

In [ ]:
df_buyer_item_matrix = pd.DataFrame(buyer_item_matrix)

In [ ]:
df_buyer_item_matrix.to_csv('/content/gdrive/My Drive/HACK_THE_CARD/df_buyer_item_matrix.csv')

In [ ]:
df_buyer_item_matrix

,0,1,2,3,4,5,6,7,8,9,...,52462,52463,52464,52465,52466,52467,52468,52469,52470,52471
0,2,1,1,1,2,1,1,1,2,2,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,3,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63920,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
63921,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
63922,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
63923,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
63924,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_buyer_item_matrix_copy = df_buyer_item_matrix.copy()

In [ ]:
df_buyer_item_matrix.set_index(custumers)

0        94578442
1        94578475
2        94578533
3        94578595
4        94578656
           ...
63920    96395136
63921    96397556
63922    96399270
63923    96399769
63924    96400990
Length: 63925, dtype: int64

In [ ]:
df_buyer_item_matrix = pd.read_csv('/content/gdrive/My Drive/HACK_THE_CARD/df_buyer_item_matrix.csv')